.header__toolbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.spacer {
  flex: 1 1 auto;
}

.github__logo {
  width: 26px;
  height: 26px;
  margin-right: 0.3em;
}

.header__title {
  margin-right: 0.5em;
}

.header__button {
  margin: 0 0.5em;
}
