@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toolbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.spacer {
  flex: 1 1 auto;
}

.github__logo {
  width: 26px;
  height: 26px;
  margin-right: 0.3em;
}

.header__title {
  margin-right: 0.5em;
}

.header__button {
  margin: 0 0.5em;
}

.legend {
  margin: 2em;
  @include flexCenter();
  gap: 2em;
  width: 100%;
  .item {
    @include flexCenter();
    img {
      margin-right: 0.35em;
    }
    p {
      color: #0E153A;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }
  }
}

$tileBorder: #afd8f8;

.board__container {
  width: 100%;
  height: 100%;
  @include flexCenter();
}

.board {
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border-top: 1px solid $tileBorder;
  border-left: 1px solid $tileBorder;
  .row {
    display: flex;
    height: 25px;
    min-height: 25px;
    width: 100%;
    .col {
      background: #fafafa;
      user-select: none;
      @include flexCenter();
      width: 25px;
      min-width: 25px;
      height: 100%;
      border-right: 1px solid $tileBorder;
      border-bottom: 1px solid $tileBorder;
    }
  }
}

.wall {
  position: relative;
  @include flexCenter();
  width: 25px;
  height: 25px;
  border: none;
  background: #ffffff;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    animation: drop 0.25s ease-in forwards;
  }
}

@keyframes drop {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    background: #3d5af1;
  }
}

.start {
  position: relative;
  &::after {
    //position: absolute;
    z-index: 3;
    content: "";
    width: 18px;
    height: 18px;
    position: relative;
    background: url(./../assets/nodes/start.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.target {
  position: relative;
  &::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 3;
    background: url(./../assets/nodes/target.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
