:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toolbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}

.github__logo {
  width: 26px;
  height: 26px;
  margin-right: 0.3em;
}

.header__title {
  margin-right: 0.5em;
}

.header__button {
  margin: 0 0.5em;
}

$tileBorder: #afd8f8;

.main__wrapper {
  display: flex;
  @include flexCenter();
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.board__container {
  width: fit-content;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  .card {
    width: 360px;
    min-height: 120px;
    p {
      font-size: 20px;
    }
    h1 {
      font-size: 48px;
    }
  }
}

.board {
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border-top: 1px solid $tileBorder;
  border-left: 1px solid $tileBorder;
  .row {
    display: flex;
    height: 25px;
    min-height: 25px;
    width: 100%;
    .col {
      background: #ffffff;
      user-select: none;
      @include flexCenter();
      width: 25px;
      min-width: 25px;
      height: 100%;
      border-right: 1px solid $tileBorder;
      border-bottom: 1px solid $tileBorder;
    }
  }
}

.wall {
  position: relative;
  @include flexCenter();
  width: 25px;
  height: 25px;
  border: none;
  background: #ffffff;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    animation: drop 0.25s ease-in forwards;
  }
}

@keyframes drop {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    background: #3d5af1;
  }
}

.start {
  &::after {
    position: relative;
    z-index: 3;
    content: "";
    width: 18px;
    height: 18px;
    background: url(./../assets/nodes/start.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.target {
  &::after {
    position: relative;
    z-index: 3;
    content: "";
    width: 18px;
    height: 18px;
    background: url(./../assets/nodes/target.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.visited {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    animation: visitedNodeAnimation 1s ease-in-out forwards;
  }
}

@keyframes visitedNodeAnimation {
  0% {
    border-radius: 100%;
    transform: scale(0);
    background: #3d5af1;
  }
  25% {
    background: #3d5af1;
  }
  50% {
    background: #fdef2d;
  }
  75% {
    border-radius: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
    background: #40cee3;
  }
}

// Yellow path animation
.path {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    animation: pathAnimation 0.4s ease-in forwards;
  }
}

@keyframes pathAnimation {
  0% {
    background: rgb(249, 255, 33);
    box-shadow: inset 0px 0px 0px 4px #ffffff;
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background: rgb(249, 255, 33);
  }
}

// Path to the node animation
.arrowPath {
  position: relative;
  &::after {
    z-index: 99;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    position: relative;
    background: url(./../assets/nodes/start.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: arrowPathAnim 0.5s forwards;
  }
}

@keyframes arrowPathAnim {
  0% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
