:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toolbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}

.github__logo {
  width: 26px;
  height: 26px;
  margin-right: 0.3em;
}

.header__title {
  margin-right: 0.5em;
}

.header__button {
  margin: 0 0.5em;
}

$tileBorder: #afd8f8;

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 65px);
  @media (max-width: 1172px) {
    height: auto;
  }
}

.main {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  @media (max-width: 1172px) {
    margin: 1.5em 0;
    flex-direction: column;
    align-items: center;
  }
}

.board__container {
  width: fit-content;
  @include flexCenter();
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  @media (max-width: 1172px) {
    margin: 0 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  .card {
    width: 360px;
    min-height: 120px;
    p {
      font-size: 20px;
    }
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 30px;
      font-weight: 400;
    }
    .description {
      font-size: 14px;
    }
    @media (max-width: 1172px) {
      width: 100%;
      &:nth-child(1),
      &:nth-child(2) {
        width: calc(50% - 0.5em);
        max-height: 120px;
      }
    }
    @media (max-width: 368px) {
      &:nth-child(1),
      &:nth-child(2) {
        width: 100%;
        max-height: 120px;
      }
    }
  }
}

.board {
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border-top: 1px solid $tileBorder;
  border-left: 1px solid $tileBorder;
  .row {
    display: flex;
    height: 25px;
    min-height: 25px;
    width: 100%;
    .col {
      background: #ffffff;
      user-select: none;
      @include flexCenter();
      width: 25px;
      min-width: 25px;
      height: 100%;
      border-right: 1px solid $tileBorder;
      border-bottom: 1px solid $tileBorder;
      position: relative;
    }
  }
}

.wall {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    animation: drop 0.25s ease-in forwards;
  }
}

@keyframes drop {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    background: #3d5af1;
  }
}

.start {
  cursor: grab;
  &::after {
    position: relative;
    z-index: 3;
    content: "";
    width: 18px;
    height: 18px;
    background: url(./../assets/nodes/start.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.rotateminus90::after {
    transform: rotate(-90deg) !important;
  }
  &.rotate90::after {
    transform: rotate(90deg) !important;
  }
  &.rotate180::after {
    transform: rotate(180deg) !important;
  }
  &.rotate0::after {
    transform: rotate(0deg) !important;
  }
}

.target {
  cursor: grab;
  &::after {
    position: relative;
    z-index: 3;
    content: "";
    width: 18px;
    height: 18px;
    background: url(./../assets/nodes/target.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.visited {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    animation: visitedNodeAnimation 1s ease-in-out forwards;
  }
}

.grabbing {
  cursor: grabbing;
}

@keyframes visitedNodeAnimation {
  0% {
    border-radius: 100%;
    transform: scale(0);
    background: #3d5af1;
  }
  25% {
    background: #3d5af1;
  }
  50% {
    background: #fdef2d;
  }
  75% {
    border-radius: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
    background: #40cee3;
  }
}

// Yellow path animation
.path {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    animation: pathAnimation 0.4s ease-in forwards;
  }
}

@keyframes pathAnimation {
  0% {
    background: rgb(249, 255, 33);
    box-shadow: inset 0px 0px 0px 6px #ffffff;
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background: rgb(249, 255, 33);
  }
}

// Path to the node animation
.arrowPath {
  &::after {
    z-index: 99;
    content: "";
    width: 18px;
    height: 18px;
    position: relative;
    background: url(./../assets/nodes/start.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.rotateminus90::after {
    animation: arrowPathAnimUp 0.5s forwards;
    transform: rotate(-90deg) !important;
  }
  &.rotate90::after {
    animation: arrowPathAnimDown 0.5s forwards;
    transform: rotate(90deg) !important;
  }
  &.rotate180::after {
    animation: arrowPathAnimLeft 0.5s forwards;
    transform: rotate(180deg) !important;
  }
  &.rotate0::after {
    animation: arrowPathAnimRight 0.5s forwards;
    transform: rotate(0deg) !important;
  }
}

@keyframes arrowPathAnim {
  0% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arrowPathAnimUp {
  0% {
    transform: scale(0.6) rotate(-90deg);
  }
  25% {
    transform: scale(1.2) rotate(-90deg);
  }
  50% {
    transform: scale(1.4) rotate(-90deg);
  }
  75% {
    transform: scale(1.1) rotate(-90deg);
  }
  100% {
    transform: scale(1) rotate(-90deg);
  }
}

@keyframes arrowPathAnimDown {
  0% {
    transform: scale(0.6) rotate(90deg);
  }
  25% {
    transform: scale(1.2) rotate(90deg);
  }
  50% {
    transform: scale(1.4) rotate(90deg);
  }
  75% {
    transform: scale(1.1) rotate(90deg);
  }
  100% {
    transform: scale(1) rotate(90deg);
  }
}

@keyframes arrowPathAnimLeft {
  0% {
    transform: scale(0.6) rotate(180deg);
  }
  25% {
    transform: scale(1.2) rotate(180deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  75% {
    transform: scale(1.1) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}

@keyframes arrowPathAnimRight {
  0% {
    transform: scale(0.6) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(0deg);
  }
  75% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.disabled {
  pointer-events: none;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .color__header {
    width: 100%;
    height: 24px;
    background-color: #ff4081;
  }
  .heading {
    .logo {
      margin: 1.6em 0;
      img {
        width: 40px;
      }
    }
    padding: 1.2em;
    h1 {
      font-weight: 500;
      color: black;
      font-size: 20px;
      margin: 0;
    }
    h3 {
      margin: 0;
      font-weight: 400;
      font-weight: 14px;
      color: rgba(0, 0, 0, 0.6);
    }
    border-bottom: 1px solid #eeeeee;
  }
  .category {
    border-top: 1px solid #eeeeee;
    .subtitle {
      color: #666666;
      font-size: 14px;
      font-weight: 500;
      padding: 1.2em 1.2em 0 1.2em;
      display: flex;
      align-items: center;
    }
    .radio__buttons {
      padding: 1.2em;
      display: flex;
      align-items: center;
      gap: 2em;
      height: 60px;
      &--text {
        font-size: 14px;
        color: #000000;
        font-weight: 500;
      }
    }
  }
  .item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 1.2em;
    .item__icon {
      margin-right: 32px;
      font-size: 26px;
      color: #666666;
    }
    p {
      font-weight: 500;
      color: #000000;
      font-size: 14px;
      margin: 0;
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }
  .disabled {
    .item__icon {
      color: #9b9b9b;
    }
    p {
      color: #9b9b9b;
    }
  }
}
