<p class="header__toolbar">
  <mat-toolbar color="primary">
    <span class="header__title">Pathfinding Visualizer</span>
    <button
      mat-raised-button
      color="accent"
      class="header__button"
      (click)="start()"
    >
      Visualize Dijkstra's!
    </button>
    <button
      mat-raised-button
      class="header__button"
      matTooltip="Uses Prim’s algorithm"
    >
      Generate maze
    </button>
    <button mat-raised-button class="header__button" (click)="clearBoard()">
      Clear board
    </button>
    <button
      [disabled]="!wallsPresent()"
      mat-raised-button
      class="header__button"
      (click)="clearWalls()"
    >
      Clear walls
    </button>
    <button mat-raised-button class="header__button" (click)="clearPath()">
      Clear path
    </button>
    <span class="spacer"></span>
    <button
      matTooltip="Select the speed of the algorithm"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      Speed: {{ appSpeed }} <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setAppSpeed('Normal')">Normal</button>
      <button mat-menu-item (click)="setAppSpeed('Fast')">Fast</button>
    </mat-menu>
    <a href="https://github.com" target="_blank">
      <button mat-button matTooltip="Checkout the GitHub repo">
        <img
          class="github__logo"
          src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"
          alt="GitHub"
        />
        GitHub
      </button>
    </a>
  </mat-toolbar>
</p>
<div class="main__wrapper">
  <div class="main">
    <mat-card class="board__container">
      <div
        #boardEl
        class="board"
        (mousedown)="setMouseDownValue(true)"
        (mouseup)="setMouseDownValue(false)"
      >
        <div class="row" *ngFor="let row of board; let i = index">
          <div
            class="col"
            *ngFor="let col of board[i]; let j = index"
            (mouseenter)="mouseEnterEvents(col)"
            (mousedown)="mouseDownEvents(col)"
            (mouseleave)="mouseLeaveEvents(col)"
            [ngClass]="{
              wall: col.type == 2,
              start: col.type == 3,
              target: col.type == 4,
              visited: col.state == 1,
              path: col.path,
              arrowPath: col.arrowPath
            }"
          ></div>
        </div>
      </div>
    </mat-card>
    <div class="info">
      <mat-card class="card">
        <p>Visited nodes</p>
        <h1>{{ visitedNodes() }}</h1>
        <mat-progress-bar
          mode="determinate"
          [value]="(visitedNodes() / (rows * cols)) * 100"
        ></mat-progress-bar>
      </mat-card>
      <mat-card class="card">
        <p>Shortest path</p>
        <h1>{{ shortestPathLength() }}</h1>
        <mat-progress-bar
          mode="determinate"
          [value]="(shortestPathLength() / (rows * cols)) * 100"
        ></mat-progress-bar>
      </mat-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
