.header__toolbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.spacer {
  flex: 1 1 auto;
}

.github__logo {
  width: 26px;
  height: 26px;
  margin-right: 0.3em;
}

.header__title {
  margin-right: 0.5em;
}

.header__button {
  margin: 0 0.5em;
}

$tileBorder: #afd8f8;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border-top: 1px solid $tileBorder;
  border-left: 1px solid $tileBorder;
  .row {
    display: flex;
    height: 25px;
    min-height: 25px;
    width: 100%;
    .col {
      background: #fafafa;
      user-select: none;
      @include flexCenter();
      width: 25px;
      min-width: 25px;
      height: 100%;
      border-right: 1px solid $tileBorder;
      border-bottom: 1px solid $tileBorder;
    }
  }
}
