html,
body {
  height: 100%;
  background-color: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}