html,
body {
  height: 100%;
  background-color: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mat--drawer__container {
  overflow-y: visible !important;
  overflow-x: hidden !important;
  height: 100% !important;
}

.main__app--wrapper {
  overflow-y: visible !important;
  overflow-x: hidden !important;
}

.app__sidenav {
  width: 295px;
  @media (max-width: 368px) {
    width: 80%;
  }
}
